* {
    /*-primary-color: #17202A;*/
    /*-secondary-color: #2C3E50;*/
    /*-l-secondary-color: #566573;*/
    /*-tertiary-color: #3498DB;*/
    /*-contrast-color: #EAECEE;*/

    -primary-color: #FCF3CF;
    -t-primary-color: #F9E79F;
    -secondary-color: #FAD7A0;
    -t-secondary-color: #F7DC6F;
    -t-tertiary-color: #F1948A;
    -tertiary-color: #EC7063;
    -error-color: #E74C3C;
    -contrast-color: #000000;
    -t-contrast-color: #616161;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.text-area .content{
    -fx-border-color: -contrast-color;
    -fx-border-width: 2;
    -fx-prompt-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/*.text-field .placeholder .label {*/
/*    -fx-text-fill: -tertiary-color;*/
/*}*/

.text-area{
    -fx-background-insets: 4;
    -fx-background-color: -secondary-color;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: -contrast-color;
    -fx-font-size: 16;
    -fx-font-family: Arial serif;
}

.text-area:hover .content{
    -fx-border-color: -tertiary-color;
}

.text-area:focused .content{
    -fx-border-color: -tertiary-color;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.label .text{
    -fx-fill: -contrast-color;
    -fx-font-family: Arial serif;
    -fx-font-size: 24;
    -fx-font-weight: 900;
}

.text-field{
    -fx-border-color: -contrast-color;
    -fx-border-width: 2;
    -fx-background-color: -secondary-color;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: -contrast-color;
    -fx-font-size: 24;
    -fx-font-family: Arial serif;
    -fx-prompt-text-fill: -t-contrast-color;
}

.text-field:focused{
    -fx-border-color: -tertiary-color;
}

.text-field:hover{
    -fx-border-color: -tertiary-color;
    -fx-background-color: -t-secondary-color;
}

VBox{
    -fx-background-color: -primary-color;
}

BorderPane{
    -fx-background-color: -primary-color;
}

ScrollPane{
    -fx-background-color: -primary-color;
}

AnchorPane{
    -fx-background-color: -primary-color;
}


.button {
    -fx-background-color: -tertiary-color;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -contrast-color;
    -fx-border-width: 2;
    -fx-background-insets: 1,4,4;
    -fx-text-fill: -contrast-color;
    -fx-font-family: Arial serif;
    -fx-font-size: 16;
    -fx-font-weight: 900;
}

.button:hover {
    -fx-text-fill: -t-contrast-color;
    -fx-border-color: -t-contrast-color;
}

.slider .axis{
    -fx-tick-label-fill: -contrast-color;
}

.slider .track{
    -fx-background-color: -secondary-color;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 7;
    -fx-background-insets: 1,4,4;
}

.slider .thumb{
    -fx-background-color: -tertiary-color;
    -fx-border-color: -contrast-color;
    -fx-border-radius: 100%;
    -fx-border-insets: -1;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.combo-box {
    -fx-background-color: -tertiary-color;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1,4,4;
    -fx-text-fill: -secondary-color;
    -fx-font-family: Arial serif;
    -fx-font-size: 16
}

.combo-box:hover .text{
    -fx-fill: -t-contrast-color;
}

.combo-box:hover{
    -fx-border-color: -t-contrast-color;
}

.check-box .box{
    -fx-background-color: -primary-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 1,4,4;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-pref-width: 28;
    -fx-pref-height: 28;
}

.check-box{
    -fx-font-size: 24;
    -fx-font-family: Arial serif;
    -fx-font-weight: 200;
    -fx-text-fill: -contrast-color;
}

.check-box:selected .mark{
    -fx-background-color: -tertiary-color;
}

.check-box:hover .box{
    -fx-background-color: -t-primary-color;
    -fx-border-color: -tertiary-color;
}

.password-cb:disabled {
    -fx-opacity: 1;
}

.image-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.image-button:hover{
    -fx-border-color: transparent;
}

.radio-button .radio{
    -fx-border-width: 1;
    -fx-border-color: -contrast-color;
    -fx-background-color: -primary-color;
    -fx-background-image: null;
    -fx-border-radius: 15;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

/*.radio-button .radio:selected {*/
/*    -fx-background-color: -primary-color;*/
/*    -fx-background-image: null;*/
/*}*/

.radio-button .radio:armed {
    -fx-background-color: -primary-color;
    -fx-background-image: null;
}

.radio-button .radio:determinate {
    -fx-background-color: -primary-color;
    -fx-background-image: null;
}

.radio-button .radio:indeterminate {
    -fx-background-color: -primary-color;
    -fx-background-image: null;
}

.radio-button:selected .radio .dot{
    -fx-background-color: -tertiary-color;
    -fx-background-insets: 0,0,0,3;
    -fx-pref-width: 15;
    -fx-pref-height: 15;
}

.radio-button .text{
    -fx-font-size: 16;
    -fx-font-weight: 900;
    -fx-font-family: Arial serif;
}

.radio-button:hover .radio{
    -fx-border-color: -tertiary-color;
}

.error-text{
    -fx-fill: -error-color;
    -fx-font-weight: 900;
    -fx-font-family: Arial serif;
    -fx-font-size: 16;
}
