target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/com/apollor/spycer/data/
/aws/
/src/main/java/com/apollor/spycer/Testclasser.java
/geolocation/key
/geolocation/GeoLite2-ASN.mmdb
/geolocation/GeoLite2-ASN-Blocks-IPv4.csv
/geolocation/GeoLite2-ASN-Blocks-IPv6.csv
/geolocation/GeoLite2-City.mmdb
/geolocation/key.txt
/src/main/test/TestTest.java
/geolocation/
/data/
/.env
/credentials.json
